body {
    background-image: url("/background-image.jpg");
    background-size: cover;
}

#inputDiv{
    display: flex;
    margin-bottom: 5px;
}

#historyBox {
    border: solid white;
    height: 80vh;
    width: 80vw;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    word-wrap: break-word;
}

p {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

#chatBox {
    width: 50%;
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

#sendButton{
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 500;
}