<main>

    <h1> ¡Bienvenidos al Live-Chat! </h1>

    <div>
        <textarea rows="1" placeholder="Escribe tu mensaje..." id="chatBox"></textarea>
        <button> Enviar </button>
    </div>

    <div id="historyBox">
        <p id="messageLogs"></p>
    </div>

</main>