<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    {{!-- incluir estilos --}}
    {{#each styles}}
    <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
</head>

<body>
    {{{body}}}

    {{!-- incluir SweetAlert si es necesario --}}
    {{#if useSweetAlert}}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{/if}}

    {{!-- incluir Socket.io si es necesario --}}
    {{#if useWS }}
    <script src="/socket.io/socket.io.js"></script>
    {{/if}}

    {{!-- incluir scripts --}}
    {{#each scripts}}
    <script src="/js/{{this}}"></script>
    {{/each}}

    <footer>
        <a href="https://github.com/lucasluccaroni" target="_blank">
            <img id="githubLogo" src="images/github.png" alt="Logo de github" />
        </a>
    </footer>
</body>


</html>